@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --mainColor: #3a6cf4;
}
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.bars {
    display: none;
}

.sidenav {
    height: fit-content;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 69px;
    right: 0;
    background-color: rgba(0 0 0 / 90%);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: none;
}

.sidenav a {
    padding: 8px 8px 32px 32px;
    text-decoration: none;
    font-size: 20px;
    color: var(--mainColor);
    display: block;
    transition: 0.3s;
    text-align: center;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #eee;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

header {
    background-color: #f0f0f0;
    padding: 10px 200px;
    position: fixed;
    z-index: 999;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    text-decoration: none;
    color: var(--mainColor);
    font-weight: bold;
    font-size: 1.5em;
    text-transform: uppercase;
}

.navigation a{
    text-decoration: none;
    color: var(--mainColor);
    font-size: 1.1em;
    font-weight: 500;
    margin-left: 18px;
    transition: 0.5s ease;
    padding: 8px 12px;
}

.navigation a:hover{
    background-color: var(--mainColor);
    color: #fff;
    border-radius: 5px;
}

section{
    padding: 100px 200px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.main{
    background-image: url('images/background-image.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2 {
    color: #fff;
    font-size: 1.6em;
    font-weight: 500;
}

.main div h2 span{
    color: var(--mainColor);
    display: inline-block;
    font-size: 1.8em;
    font-weight: bold;
    margin-top: 15px;
}

.main h3{
    color:#fff;
    font-size:1.4em;
    font-weight:700;
    letter-spacing:1px;
    margin-top:10px;
    margin-bottom:30px;
}

.main-btn {
    background-color: var(--mainColor);
    padding: 16px 22px;
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    display: inline-block;
    letter-spacing: 1px;
    margin-bottom: 40px;
    transition: 0.5s ease;

}

.main-btn:hover{
    background-color:  #0a49f6;
    transform: scale(1.1);
}

.social-icons a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    margin-right: 22px;
    display: inline-block;
    transition: 0.5s ease;

}

.social-icons a:hover {
    color:  #0a49f6;
    transform: scale(1.3);
}

.skills {
    display: block;
}

.skill{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.skill svg {
    display: block;
    margin:auto 32px 64px 32px;
    padding: auto;
    transition: 0.3s;
}

.skill svg:hover {
    transform: scale(1.1);
}

.titel{
    color: var(--mainColor);
    font-size: 3em;
    font-weight: bold;
    margin: auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    transition: 0.5s ease;
    
}

.titel:hover {
    transform: scale(1.3);
    
    color:  #0a49f6;
}

.cards{
    display: block;
    background-color: #f0f0f0;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.card .icon {
    color: #3a6cf4;
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3{
    color: #3a6cf4;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.projects{
    display: block;
    background-color: #000016;
}

.project .content a{
    text-decoration: none;
}

.project{
    width: 18.75em;
    height: 18.75em;
    margin-right: 30px;
    margin-bottom: 30px;
    background-size: cover;
    background-position: left top;
    border-radius: 10px;
    transition: 0.5s ease;
}

.project:hover{
    transform: scale(1.1);
}

.one{
    background-image: url('images/page_one.jpg');

}
.two{
    background-image: url('images/gymso-fitness.jpg');
}
.three{
    background-image: url('images/news-app.png');
}
.four{
    background-image: url('images/job4u.png');
}
.five{
    background-image: url('images/individual.jpg');
}
.six{
    background-image: url('images/Screenshot 2022-07-01 215926.png');
}

.seven{
    background-image: url('images/template-two.png');
    position: relative;
}

.seven::after {
    content: "";
    background-color: #3a6cf483;
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.eight{
    background-image: url('images/background-image.png');
    position: relative;
}

.eight::after {
    content: "";
    background-color: #3a6cf483;
    width: 100%;
    height:100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-radius: 10px;
}

.contact{
    display: block;
    background-color: #f0f0f0;
}

footer {
    background-image: url(images/subscribe.jpg);
    background-position: top center;
    color: #fff;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    align-items: center;
    position: relative;
}

.cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0 0 0 / 70%);
    z-index: 9;
}

.footer-text, .social-icons ,.social-icons + p {
    z-index: 10;
}

.footer-text p {
    padding:0px 0px ;
    margin: 24px 0px;
    padding:16px 0px ;
    border-bottom: 1px solid #fff;
    font-size: 24px;
    font-weight: 500;
}

footer p,footer .social-icons {
    margin-bottom: 32px;
}

footer span{
    color:#3a6cf4;
    padding-left: 10px;
    font-size: 16px;
    font-weight: bold;
}
@media (max-width:1500px){
    body{
        font-size: 14px;
    }
    header{
        padding:16px 100px; ;
    }

    section{
        padding: 20px 100px;
    }
}


@media (max-width:1023px){

    .bars {
        display: block;
    }

    .navigation {
        display: none;
    }

    header{
        padding: 8px 8px;
        width: 100%;
    }
    .logo{
        font-size: 2em;
    }
    .navigation a{
        margin-left: 3px;
        padding: 6px 2px;
        font-size: 0.6em;
    }

    section{
        padding: 10px 20px;
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
    }
    
    .main h2 {
        color: #fff;
        font-size: 1.2em;
        font-weight: 500;
    }
    
    .main div h2 span{
        color: var(--mainColor);
        display: inline-block;
        font-size: 1.7em;
        font-weight: bold;
        margin-top: 15px;
    }
    
    .main h3{
        color:#fff;
        font-size:1em;
        font-weight:700;
        letter-spacing:1px;
        margin-top:10px;
        margin-bottom:30px;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }

    .card{
        padding: auto;
        margin: auto;
        margin-bottom: 20px;
    }

    .contact .titel{
        font-size: 1.7em;
    }

    .project{
        margin-right: 0px;
    }

    footer {
        padding: 2px 5px;
    }
    footer span{
        padding-left: 5px;
        font-size: 0.8em;
    }

    footer .social-icons a{
        font-size: 1em;
        margin-right: 8px;
    }
}

@media (max-width: 641px){
    header{
        padding: 8px;
    }

    
    .bars {
        display: block;
    }

    .sidenav {
        top: 60px;
    }

    .navigation {
        display: none;
    }

    .logo{
        font-size: 1.6em;
    }

    .main-btn{
        padding: 8px 11px;
        border-radius: 5px;
        font-size: 12px;
        margin-top: 0px;
        letter-spacing: 1px;
        margin-bottom: 20px;
        transition: 0.5s ease;
    }

    section{
        padding: 5px 10px;
        width: 100%;
        min-height: 100vh;
    }
    
.skills div h2 {
    font-size: 16px;
}

.skills .c,.html,.css,.js,.bt,.vuejs,.Sass,.Dart,.flutter{
    width: 80%;
    background-color: #f0f0f0;
    border-radius: 20px;
    height: 10px;
}
}

@media(max-width:300px){


    .main {
        text-align: center;
    }
    .bars {
        display: block;
    }

    .sidenav {
        top: 60px;
    }

    .navigation {
        display: none;
    }

    .contact .card ,.content .card {
        width: 100%;
    }
}





